<p><%= @comment.content %></p>

<ul>
  <li><%= link_to "Destroy", comment_path(@comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>